body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #F7FAFC;
  
}

header {
  background-color: #243B53;
  color: #F7FAFC;
  padding: 50px 100px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  margin-top: -5px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

nav a {
  color: #F7FAFC;
  text-decoration: none;
  font-weight: bold;
}

nav a.active,
nav a:hover {
  color: #D0D4D9;
}

img{
    height: 600px;
    width: 900px;
    margin-left: 30px;
}

.img1{
    height: 583px;
    width: 900px;
    margin-left: 40px;
}

img:hover{
    transform: translateY(-2px);
}

footer {
  background-color: #243B53;
  color: #F7FAFC;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  margin-top: 30px;
}