body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #F7FAFC;
}

footer {
  background-color: #243B53;
  color: #F7FAFC;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  margin-top: 30px;
}

.container {
  background-color: #243B53;
  color: #F7FAFC;
  height: 130px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 10px;
   font-weight: bold;
}

.tudo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #243B53;
    border-radius: 15px;
    width: 500px;
    height: 700px;
    margin-left: 700px;
    margin-top: 2%;
    padding: 10px;
}

.titulo {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #F7FAFC;
    flex-direction: column;
    margin-bottom: 250px;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
  margin-left: 840px;
  margin-top: -350px;
}